.filter{
    width: 70%;
    background: #0092ca; 
    color: #eeeeee;
    margin-top: 80px;
    margin-left: 30px;
    padding-left: 25px; 
    padding-right: 12px;
    justify-content: space-between;
    border-radius: 15px 15px 0 0 ;
  }
  .filter h3{
    margin: 14px 0 12px 0;

  }
  .filter button{
    background: #0092ca; 
    border: 0.5px solid white;
    color: #eeeeee;
    margin: 10px 0 10px 0;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 13px;
  }
  .filter button:hover{
    border: 1px solid rgba(255, 255, 255, 0.581);
  }
  .filters{
    margin-left: 31px;
    width: 79%;
    border: 1px solid lightgrey;
    border-radius: 0 0 15px 15px;
  }