.stocks{
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin: 60px 10px 0 10px;
    padding: 20px 5px 15px 20px;
    width: 27.9%;
}
.stocks > h3{
    font-weight: 500;
    margin-top: 0;
}
.stocks > div{
    padding-right: 20px;
}
.stocks .monitor{
    width: 100%;
}
.reviews img{
    margin-right: 10px;
}
.reviews span{
    margin-right: 10px;
    margin-top: 0;
    font-weight: 500;
    color: rgb(243, 142, 18);
}
.reviews span span {
    color: rgb(155, 152, 152);
}
.ul{
    color: gray;
    margin-left: -20px;
}
.likes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 5px;
}
.likes img{
    width: 55%;
    margin-left: 35px;
    margin-top: 10px;
}
.popUp{
    height: 30px;
    width: 110px;
    padding-left: 12px;
    padding-right: 5px;
    margin-top: 18px;
    margin-left: -15px;
    border: 1px solid rgb(255, 191, 0);
    background-color: rgb(255, 239, 173);
    border-radius: 14px;
    justify-content: space-around;
    display: flex;
    position: absolute;
}
.popUp img{
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: 5px;
}
.popUp2{
    height: 30px;
    width: 80px;
    border: 1px solid lightslategray;
    display: flex;
    margin-top: 68px;
    margin-left: 5px;
    border-radius: 4px;
    justify-content: space-around;
    position: absolute;
    color: black;
    background-color: white;
    align-items: center;
}
.plus, .count, .minus{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color: #0092ca;
    font-size: 17px;
    text-align: center;
}
.minus, .plus{
    width: 25%;
    font-size: 18px;
    margin-left: 2px;
}
.count{
    width:40%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}