.footer{
    border-top: 1px solid rgba(211, 211, 211, 0.609);
    margin-top: 70px;
}
.bluepart{
    background: #02498f;
    height: 70px;
    border-radius: 0 25px 0 0 ;
    color: white;
    text-align: center;
}
.footerlogos{
    justify-content: space-around;
}
.ps4{
    height: 100px;
    margin-top: -30px;
    z-index: -15;
}
.lg{
    height: 80px;
    margin-top: -10px;
    z-index: -15;
}
.samsung{
    height: 110px;
    margin-top: -40px;
    z-index: -15;
}
.germin{
    height: 100px;
    margin-top: -30px;
    z-index: -15;
}
.tefal{
    height: 50px;
    margin-top: 10px;
}
.footerarrow{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 15px;
}
.footerarrow img{
    margin-top: 8px;
    margin-left: 8px;
}