.navbar{
    height: 12vh;
    width: 100%;
    z-index: 160;
    color: white;
    background: transparent;
    background-image: linear-gradient(to right,#05111f, #0e3159);
}
  

    

.navbar h1, .navbar div, .navbar, .dropdown{
    justify-content: center;
    align-items: center;
}
.navbar .col-6{
    height: 100%;
}
.navbar .icons{
    justify-content: space-between;
    width: 190px;
    margin: 0;
    font-weight: 500;
    margin-left: 80px;
    margin-right: -40px;
    padding: 0;
}
.search{
    height: 55%;
    margin-left: 40px;
    width: 95%;
    border: none;
    margin-top: 22px;
    padding-left: 30px;
    background-image: linear-gradient(to right,#09213d, #0e3159);
    border-radius: 150px;
    font-size: larger;
    caret-color: auto;
    color: rgba(240, 255, 255, 0.863);
}
.search::placeholder {
    color: rgba(240, 255, 255, 0.863);
}
.search:focus{
    border: none;}
/* 
.icons:after{
    content: url("../../images/Vector.png");
    display: inline-block;
    position: absolute;
    margin-left: -85px;
    opacity: 0.7;
} */
.dropdown h3{
    font-weight: 500;
    margin-top: 20px;
}
.dropdown{
    padding: 0;
    margin: 0;
    margin-left: 30px;
    
}
.dropdown img{
    margin-left: 10px;
    margin-bottom: 3px;
}
.dropdown div{
    position: absolute;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 15px;
    background: #07192ce7;
    text-align: center;
    margin-left: -90px;
    border: 1px solid #0e3a65ab;
    border-radius: 2px 2px 5px 5px;
    margin-top: 50px;
    padding-top: 15px;
    z-index: 5;
}
.dropdown div span{
    border-bottom: 1px solid grey;
    font-weight: 300;
    margin: 0px 15px 0px 15px;
    padding-bottom: 5px;
    z-index: 5;
}
.dropdown div span:hover{
    font-weight: 500;
}
.cart{
    position: absolute;
    top: 45px;
    margin-left: -50px;
    height: 20px;
}
.cartp{
    position: absolute;
    padding: 0;
    margin: 3px 0 0 -44px;
    text-align: center;
    font-size: smaller;
    color:#05111f;
    opacity: 0.7;
}
.login{
    position: absolute;
    background: #07192ce7;
    border: 1px solid #0e3a65ab;
    border-radius: 2px 2px 5px 5px;
    top: 70px;
    right: 50px;
    padding-left: 20px;
    padding-right: 70px;
}
.login button{
    color: white;
    background: #0092ca;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: 1px solid #031d27;
    border-radius: 5px;
}
.login h5{
    font-weight: 500;
}


